<%- include("_header") -%>

  <div class="page-header">
  <div id="map"></div>
  <div id="panel"></div>
  <script type="text/javascript" src='javascripts/map.js'></script>
<%- include("_footer") -%>

