<div class="form-group input-group">
    <input class="form-control" placeholder="Email" type="email" name="mail" value="<%= model.mail %>">
</div> <!-- form-group// -->

<div class="form-group input-group">
    <input class="form-control" placeholder="Mot de passe" type="password" name="mdp" value="<%= model.mdp %>">
</div> <!-- form-group// -->