<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pedibus</title>
  <link rel="stylesheet" href="/css/bootstrap.css">


  <script src="/js/jquery-1.12.4.js"></script>
  <link rel="stylesheet" href="/jquery-ui-1.12.1.custom/jquery-ui.css">
  <script src="/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

  <script>
    $(function () {
      $("#datepicker").datepicker();
    });
  </script>


  <link href='/packages/core/main.css' rel='stylesheet' />
  <link href='/packages/daygrid/main.css' rel='stylesheet' />

  <script src='/packages/core/main.js'></script>
  <script src='/packages/daygrid/main.js'></script>


  <link href='/packages/list/main.css' rel='stylesheet' />

  <script src='/packages/list/main.js'></script>

  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        locales: ['frLocale'],
        plugins: ['dayGrid'],
        locale: 'fr',
        defaultView: 'dayGridWeek',
        weekends: false,
        events: [
          { // this object will be "parsed" into an Event Object
            groupId: 'Pedibus matin', // a property!
            title: 'Peidbus matin',
            daysOfWeek: [ '1','2','3','4','5' ],
            startTime: '07:00:00',
            endTime: '08:00:00'
          },
          { // this object will be "parsed" into an Event Object
            groupId: 'Pedibus soir', // a property!
            title: 'Peidbus soir',
            daysOfWeek: [ '1','2','3','4','5' ],
            startTime: '16:30:00',
            endTime: '17:30:00'
          }

        ]

      });

      calendar.render();
    });

  </script>

  <!-- CSS and JS files for maps -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
  <!-- Style overwrite -->
  <style type="text/css">
  #mapid {
    height: 400px;
  }

  /* Surcharge bouton géolocalisation enfant 
  .leaflet-control-locate {
    width: 100px;
    height: 100px;
  }

  .leaflet-control-locate a,
  .leaflet-control-locate a:hover {
    width: 100px;
    height: 100px;
    background-color: crimson;
  }

  .fa {
    width: 100px;
    height: 100px;
  } */

  /* FIN Surcharge bouton géolocalisation enfant  */
  </style>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.70.0/dist/L.Control.Locate.min.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.70.0/dist/L.Control.Locate.min.js"
  charset="utf-8"></script>
  <!-- End CSS and JS files for maps -->

</head>

<body>

  <div class="container">