<%- include("_header") -%>

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Se connecter</h4>
            <form action="/connexion" method="post">

                <%= message %>
                <%- include("_form_co") -%>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Connexion </button>
                </div> <!-- form-group// -->
                <p class="text-center">Pas encore de compte ? <a href="/inscription">Inscription</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<!--container end.//-->

<%- include("_footer") -%>